{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1 class="h1-headings">User: {{ user_profile.username }}</h1>
    {% if user_profile != request.user %}
        <div id="follow-button-div">
            <button type="button" class="btn btn-dark" id="follow-button" data-user="{{ user_profile.username }}">
                {% if is_following %}
                    Unfollow
                {% else %}
                    Follow
                {% endif %}
            </button>
        </div>
    {% endif %}
    <hr>
    <div id="follower-view">
        <p id="follower-p">Followers: {{ followers }}</p>
        <p>Following: {{ following }}</p>
    </div>
    <hr>
    <div class="posts-view">
        {% for post in posts %}
            <div class="post">
                <a href="{% url 'user' post.user.id %}"><p>{{ post.user }}</p></a>
                <p>{{ post.body }}</p>
                <p>{{ post.timestamp }}</p>
                <p>{{ post.likes }}</p>
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/scripts.js' %}"></script>
{% endblock %}