{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1 class="h1-headings">User: {{ user.username }}</h1>
    <div id="follower-view">
        <p>Followers: {{ followers }}</p>
        <p>Following: {{ following }}</p>
    </div>
    <div class="posts-view">
        {% for post in posts %}
            <div class="post">
                {{ post.user }}
                {{ post.body }}
                {{ post.timestamp }}
                {{ post.likes }}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/scripts.js' %}"></script>
{% endblock %}